


body {
background-color:#bed73d;
background-image:url(/media/img/background.gif);
background-repeat:repeat-x;
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
color: #333333;
font-size: 12px;
}

#page-container {
width: 990px;
margin: auto;
margin-top:0;
}

#left-logo-bar {
float:left;
width: 150px;
}

#right-page-container {
float:left;
width: 840px;
}

#main-nav {
background-image:url(/media/img/content_top.png);
height: 55px;
overflow-y:hidden;
}
#main-nav ul { margin: 0; padding: 0;}
#main-nav li { float: left; list-style-type:none; padding-right:5px; padding-top:15px; }
#main-nav li#home {
padding-left:20px;
}

#middle-content-container {
position:relative;
background-image:url(/media/img/content_middle.png);
width: 840px;
margin:auto;
}

.page-banner {
width: 820px;
margin:auto;
background-color: #d6e8f4;
}

.page-banner-left-image {
margin-right:20px;
float:left;
}

.page-banner-right-text {
padding:20px;
}

.simple-content {
width: 780px;
margin:auto;
}

#left-content {
width: 580px;
margin-left:20px;
padding-left:10px;
}

#right-content {
position:absolute;
top:300px;
left:600px;
width:220px;
padding-top:20px;
}

.floatbox{
    overflow: hidden;
}

/* map */
.map {
    border: #CCCCCC 1px solid;
    width: 570px;
    height: 366px;
}

#legend {
background-color: #ececec;
height:366px;
}

#legend ul { margin: 0; padding:0; }
#legend .disc { list-style-type:disc;}

.swatch {
    float:left;
    height:16px;
    margin-right: 8px;
    margin-left: 8px;
    width:16px;
    border:1px solid white;
}

.hide {display:none;}

div.slider-holder {
    font-size:70%;
    height:70px;
    margin-top:15px;
    width:554px;
    padding-left: 11px;
}
.slider-holder .play{
	float:right;
	border:1px solid #ccc;
	background-color:#eee;
	padding:3px 6px 3px 15px;
	color:#666;
	font-weight:bold;
	background-image:url(../img/arrow-play.gif);
	background-position:5px 50%;
	background-repeat:no-repeat;
	font-size:1.2em;
}
.olControlLoadingPanel {
	background-image:url(../img/loading.gif);
	background-position:center;
	background-repeat:no-repeat;
}
.olPopupCloseBox {
  background: url("../img/openlayers/close.gif") no-repeat;
  cursor: pointer;
}

.infowindow{
	padding:10px;
	margin-right:-15px;
}
.infowindow h2{
	margin:0 0 5px 0;
	padding:0;
	font-size:12px;
	font-weight:bold;
	font-size:14px;
}
.infowindow .infowindow_list{
	padding:10px 0 10px 0;
	border:1px solid #ccc;
	border-width:1px 0 1px 0;
}
.infowindow ul{
	font-weight:bold;
	margin:0 0 0 1em;
	padding:0;
}
.infowindow li{
	list-style-type: square;
}
.infowindow a, .infowindow a:visited{
	color:#000;
}
.infowindow a:hover{
	text-decoration:none;
}
.infowindow .infowindow_meta{
	background-color:#eee;
	font-size:90%;
	padding:1px 5px 3px 5px;
}

#right-rail {
position:absolute;
top:200px;
left:600px;
padding-top:20px;
margin-right:20px;
margin-left:25px;
width:180px;
}

.sub-nav-link {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: #0f3221;
font-weight: normal;
line-height: 30px;
width:180px;
padding-left:10px;
}

#right-rail p {
margin-bottom:0;
margin-top: 5px;
}

.sub-nav-link-on {
background-color:#d6e8f4;
}

#end-content {
width: 840px;
height=30;
}

#footer {
width: 830px;
margin-top: 15px;
height: 45px;
}


.title {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: #0f3221;
font-weight: normal;
line-height: 26px;
}

.titlehome {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
color: #0f3221;
font-weight: normal;
line-height: 22px;
}

.header {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: #0f3221;
font-weight: bold;
line-height: 18px;
}

.copy {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: #0f3221;
font-weight: normal;
line-height: 20px;
}

.list {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #000000;
font-weight: normal;
line-height: 24px;
}

.formcopy {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #005b7f;
font-weight: bold;
line-height: 20px;
}

.formcopy-title {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: #005b7f;
line-height: 20px;
}

.requesttitle {
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
color: #000000;
font-weight: normal;
line-height: 30px;
}

.requestsubtitle {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
color: #000000;
font-weight: normal;
line-height: 30px;
}

.requestcopy {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #406618;
font-weight: normal;
line-height: 16px;
}

.errormessage {
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
color: red;
font-weight: normal;
line-height: 14px;
}


.copyright {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #0f3221;
font-weight: normal;
line-height: 24px;
padding-left: 10px;
margin-bottom: 20px;
}

a:link {color: #005b7f; text-decoration: none;}
a:visited {color: #005b7f; text-decoration: none;}
a:active {color: #2a97c2; text-decoration: none;}
a:hover {color: #2a97c2; text-decoration: none;}
